<div class="main-card mb-3 card">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img width="100%"  src="{{nasaP.url}}" alt="Card image cap" class="card-img-top">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{nasaP.title}}</h5>
                <p class="card-text">{{nasaP.explanation}}</p>
                <small class="text-muted">{{ nasaP.date | date }}</small>
            </div>
        </div>
    </div>
</div>
